/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.*.local
.env.local
.env.backup
.phpunit.result.cache
/.phpunit.cache
/coverage
/.DS_Store
/.idea
/.vscode
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
